/* METRO UI TEMPLATE v2.0.0
/* Copyright 2012 Thomas Verelst, http://metro-webdesign.info

/*GENERAL*/
html{
	margin:0;
	padding:0;
	font-family:  'Open Sans', Segoe UI, Tahoma,Helvetica,sans-serif;
	font-size:13px;
	color: #FFF; /* MAIN color for site things, but not for CONTENT!! */
	overflow-y:scroll;
}
body{
	margin:0;
	padding:0;
}
a{	
	color:#222; /* Main color for links */
	text-decoration:underline;
}
a:hover{
	color: #789600; /*Main color for hovered links */
}
a:active, a:selected, a:visited, a:focus {
 	outline: none;
	border:none;
}
p{
	margin-left:20px;
}

/* HEADINGS */
h1{
	font-size:38px;
	font-weight:300;
	margin:20px 0 0px 0;
	color:#222;
}
h2{
	font-size:30px;
	font-weight:300;
	margin:20px 0 2px 0;
	color:#333;
}
h3{
	font-size:24px;
	font-weight:normal;
	margin:20px 0 2px 0;
	color:#444;
}
h4{
	font-size:22px;
	font-weight:300;
	margin:15px 0 2px 0;
	color:#444;
}
h5{
	font-size:20px;
	font-weight:normal;
	margin:13px 0 2px 0;
	color:#444;
}
h6{
	font-size:16px;
	font-weight:normal;
	margin:10px 0 2px 0;
	color:#444;
}
/*LAYOUT PARTS*/
#wrapper{
	max-width: 1000px;
	min-width: 850px;
	padding: 0 50px;
	margin:0 auto 30px auto; /* auto margin to center horizontally, 50px for bottom and top margin */
	z-index:-99;
}
#headerWrapper{
	position:absolute;
	top:0;
	left:0;
	padding:10px 0;
	border-bottom:1px #999 solid;
	width:100%;
	z-index:5;
	background-color:#333;
}
#header{
	max-width:1000px;
	min-width:850px;
	margin: 0 auto;
}
#header h1{
	float:left;
	margin-top:0;
}
#header h1 a{
	z-index:12;
	color:#FFF;
}
#header h1 a:hover{
	color:#F90;
}
#content{
	position:relative;
	margin-bottom: 100px;
	color:#111;
	-webkit-transition:margin-left 600ms;
	-moz-transition:margin-left 600ms;
	-o-transition:margin-left 600ms;
	-ms-transition:margin-left 600ms;
	transition:margin-left 600ms;
	z-index:0;
}
#footer{ /*show a little footer in the rightdown corner*/
	position:fixed;
	bottom:5px;
	right:5px;
	color:#444;
	font-size:12px;
	font-weight:lighter;
	text-decoration:none;
	z-index:-10; /* draw it behind everything */
}
#footer:hover{
	cursor:default;
}
#catchScroll{
	width:100%;height:100%;position:fixed;z-index:-99;top:0;left:0;
}
#leftArrow,#rightArrow{
	position:absolute;
	top:70px;
	opacity: 0.3;
	height:32px;
	display:none;
}
#leftArrow:hover,#rightArrow:hover{
	cursor:pointer;
}
#leftArrow{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform:rotate(180deg);
}

/* General Navigation */
#siteTitle{ /*the siteName */
	font-size: 46px;
	text-decoration:none;
	font-weight:lighter;
}
#subTitle{ /*the title of the tilepage we are on */
	font-size: 26px;
	text-decoration:none;
	font-weight:lighter;
	position:absolute;
}
#subTitle h2{
	margin:0;
	font-weight:inherit;
	font-size:inherit;
}